/* Estilização do formulário */
form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilização das labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Estilização dos campos */
  input[type="text"], input[type="email"],
  select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilização do botão */
  button[type="submit"],
  button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #3E8E41;
  }
  
  /* Estilização dos erros */
  .error {
    color: #FF0000;
    font-size: 14px;
    margin-bottom: 10px;
  }