.detailMain{
    padding-left:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-alt button{
    padding: 10px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 3px;
}