<nav>
    <div class="main">
        <a class="titulo" routerLink="">Rotas Ng2</a>
       <div class="navBar">
            <ul class="navOpt">
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
                <li><a routerLink="/curso" routerLinkActive="active">Cursos com Id</a></li>
            </ul>
       </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>