<nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
        <a href="#" class="nav-item nav-link" 
        [class.active]="aba == 'home'"
        (click)="aba = 'home'">Home</a>
        <a href="#" class="nav-item nav-link"
        [class.active]="aba == 'features'"
        (click)="aba = 'features'">Features</a>
        <a href="#" class="nav-item nav-link"
        [class.active]="aba =='pricing'"
        (click)="aba = 'pricing'">Pricing</a>
        <a href="#" class="nav-item nav-link"
        [class.active]="aba == 'about'"
        (click)="aba = 'about'">About</a>
    </div>
</nav>


<div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'home'">Home ativado</p>
    <p *ngSwitchCase="'features'">Features ativado</p>
    <p *ngSwitchCase="'pricing'">Pricing ativado</p>
    <p *ngSwitchDefault="">About ativado</p>
</div>